.background-color{
    background-color: #F9F4E7;
}

.title-text,
.menu-text {
    font-family:'Courier New', Courier, monospace;
    font-weight:100;
    text-align: center;
}

.menu-text {
    color: black;
}

.recipe-name {
    font-family:'Courier New', Courier, monospace;
    font-weight:100;
    text-align: left;
    text-decoration: underline;
}

.body-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.list-items li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.image-shadow {
    filter: drop-shadow(5px 5px 5px black);
    padding-right: 10px;
    display: inline-block;
}

.info{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-top: 0px;
    display:inline-block;
    vertical-align:top;
    height: fit-content;
}